<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAkTTBkLAZCcyCAQP1EPY3YBvhbg-HlQTo</string>
	<key>GCM_SENDER_ID</key>
	<string>706537364258</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ay.swiftuifirebase</string>
	<key>PROJECT_ID</key>
	<string>swiftui-login-e06c9</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftui-login-e06c9.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:706537364258:ios:75e36aba039be28716e37b</string>
</dict>
</plist>